.card{
    border: 2px solid black;
    border-radius: 20px;
    width: 294px;
    height: 432px;
    background-color: rgb(198, 172, 245);
}
.img img{
    border: 24px;
    border-radius: 20px;
    padding: 5px;
}
p{
    position: relative;
}

button{
    background-color: rgb(135, 247, 235);
    color: rgb(8, 99, 148);
    border-radius: 34px;
    position:relative
}
body{
    background-color: rgb(18, 20, 20);
}